Repository ivnku/golang-course: changes, and which GitLab CI jobs are due for each by the changed paths.
All: hw1, hw1_en, hw2, hw4, hw5_codegen, hw7, hw8

.gitlab-ci.yml:

image: golang:1.15

variables:
  REPO_NAME: go-stepik-tests

before_script:
  - mkdir -p $GOPATH/src/$(dirname $REPO_NAME)
  - ln -svf $CI_PROJECT_DIR $GOPATH/src/$REPO_NAME
  - cd $GOPATH/src/$REPO_NAME

stages:
    - homework

hw1:
    stage: homework
    script:
      - if [[ -n $(gofmt -l 1/99_hw/game/) ]]; then echo "You need to format your code using gofmt" && exit 1; fi
      - go test -v ./1/99_hw/game/...
      - echo "Assigment completed! Ask teacher for code review"
    only:
      changes:
        - 1/99_hw/game/*

hw1_en:
    stage: homework
    script:
      - if [[ -n $(gofmt -l 1/99_hw/game_en/) ]]; then echo "You need to format your code using gofmt" && exit 1; fi
      - go test -v ./1/99_hw/game_en/...
      - echo "Assigment completed! Ask teacher for code review"
    only:
      changes:
        - 1/99_hw/game_en/*

hw2:
    stage: homework
    script:
      - if [[ -n $(gofmt -l ./2/99_hw/signer/) ]]; then echo "You need to format your code using gofmt" && exit 1; fi
      - go test -v -race ./2/99_hw/...
      - echo "Assigment completed! Ask teacher for code review"
    only:
      changes:
        - 2/99_hw/signer/*

hw4:
    stage: homework
    script:
      - if [[ -n $(gofmt -l ./4/99_hw/) ]]; then echo "You need to format your code using gofmt" && exit 1; fi
      - x=$(go test -v -cover ./4/99_hw... | grep coverage) && if [[ "$x" != *"100.0%"* ]]; then echo "$x" && exit 1; fi
      - echo "Assigment completed! Ask teacher for code review"
    only:
      changes:
        - 4/99_hw/*

hw5_codegen:
    stage: homework
    script:
      - if [[ -n $(gofmt -l ./5/99_hw/codegen/) ]]; then echo "You need to format your code using gofmt" && exit 1; fi
      - cd 5/99_hw/codegen
      - go build handlers_gen/* && ./codegen api.go api_handlers.go
      - go test -v
      - echo "Assigment completed! Ask teacher for code review"
    only:
      changes:
        - 5/99_hw/codegen/*

hw7:
    stage: homework
    script:
      - if [[ -n $(gofmt -l ./7/99_hw/) ]]; then echo "You need to format your code using gofmt" && exit 1; fi
      - cd 7/99_hw
      - go test -v -race
      - echo "Assigment completed! Ask teacher for code review"
    only:
      changes:
        - 7/99_hw/*

hw8:
    stage: homework
    script:
      - if [[ -n $(gofmt -l ./8/99_hw/) ]]; then echo "You need to format your code using gofmt" && exit 1; fi
      - cd 8/99_hw
      - go test -v
      - echo "Assigment completed! Ask teacher for code review"
    only:
      changes:
        - 8/99_hw/*

first
  README.md
Due: none

add https://github.com/lotusirous/go-concurrency-patterns
  2/readings_2.md
Due: none

Create initial entites. Implement Room entity
  1/99_hw/game/item.go
  1/99_hw/game/room.go
  1/99_hw/game/user.go
Due: hw1

Implement GameEngine and CommandHandler entities
  1/99_hw/game/command_handler.go
  1/99_hw/game/game_engine.go
Due: hw1

Add setter for user in GameEngine. Also add basic initialization in main.go
  1/99_hw/game/game_engine.go
  1/99_hw/game/main.go
Due: hw1

Refactor names, and Room's funcs
  1/99_hw/game/.gitignore
  1/99_hw/game/command_handler.go
  1/99_hw/game/game_engine.go
  1/99_hw/game/main.go
  1/99_hw/game/room.go
  1/99_hw/game/user.go
Due: hw1

Implement command 'go'. Add utils.go
  1/99_hw/game/command_handler.go
  1/99_hw/game/main.go
  1/99_hw/game/room.go
  1/99_hw/game/utils.go
Due: hw1

Extend Player entity and changing its name
  1/99_hw/game/player.go
  1/99_hw/game/user.go
Due: hw1

Implement 'надеть' and 'взять' commands. Also add checks for special conditions
  1/99_hw/game/command_handler.go
  1/99_hw/game/item.go
  1/99_hw/game/main.go
  1/99_hw/game/room.go
  1/99_hw/game/utils.go
Due: hw1

Implement Goals and Conditions before entering rooms
  1/99_hw/game/command_handler.go
  1/99_hw/game/item.go
  1/99_hw/game/main.go
  1/99_hw/game/player.go
  1/99_hw/game/room.go
Due: hw1

Finish implementation
  1/99_hw/game/command_handler.go
  1/99_hw/game/item.go
  1/99_hw/game/main.go
  1/99_hw/game/room.go
Due: hw1

Minor refactoring of condition in main.go
  1/99_hw/game/main.go
Due: hw1

Refactor the function for removing the item from room
  1/99_hw/game/room.go
Due: hw1

Fix MR issues
  1/99_hw/game/command_handler.go
  1/99_hw/game/game_engine.go
  1/99_hw/game/main.go
  1/99_hw/game/player.go
  1/99_hw/game/room.go
Due: hw1

Fix formatting
  1/99_hw/game/room.go
Due: hw1

First attempt to figure out async
  2/99_hw/signer/signer.go
Due: hw2

Attempt to use outer WaitGroup in main
  2/99_hw/signer/signer.go
Due: hw2

Implement SingleHash and MultiHash functions
  2/99_hw/signer/signer.go
Due: hw2

Implement CombineResult func. Result value is correct but cant fit timeframe
  2/99_hw/signer/signer.go
Due: hw2

Refactoring
  2/99_hw/signer/signer.go
Due: hw2

Fix formatting issues
  2/99_hw/signer/signer.go
Due: hw2

Fix MultiHash function
  2/99_hw/signer/signer.go
Due: hw2

Fix formatting
  2/99_hw/signer/signer.go
Due: hw2

Get rid of regexp and unnecessary loops for browsers
  3/99_hw/fast.go
  3/99_hw/go.mod
  3/99_hw/go.sum
  3/99_hw/hw3.md
Due: none

Get rid of ReadAll
  3/99_hw/fast.go
Due: none

Add easyjson and exchange Scanner on ReadSlice
  3/99_hw/fast.go
  3/99_hw/fast_easyjson.go
Due: none

Add the map of seen browsers, add the array of users, get rid of the loop for users
  3/99_hw/fast.go
Due: none

Remove uniqueBrowsers counter
  3/99_hw/fast.go
Due: none

Fix mr issues
  3/99_hw/fast.go
Due: none

Fix mr issues
  2/99_hw/signer/signer.go
Due: hw2

Create ServerSearch function. Also create InvalidToken test
  4/99_hw/client_test.go
Due: hw4

Add tests
  4/99_hw/client_test.go
  4/99_hw/cover.html
  4/99_hw/cover.out
Due: hw4

Fix token in tests
  4/99_hw/client_test.go
Due: hw4

Table testing attempt
  4/99_hw/client_test.go
  4/99_hw/cover.html
  4/99_hw/cover.out
Due: hw4

Implement more tabled tests. Also add business logic tests
  4/99_hw/client_test.go
Due: hw4

Fix formatting
  4/99_hw/client_test.go
Due: hw4

rwa and taskbot
  10/99_hw/example/bot.go
  10/99_hw/go.mod
  10/99_hw/hw10.md
  10/99_hw/taskbot.go
  10/99_hw/taskbot/go.mod
  10/99_hw/taskbot/go.sum
  10/99_hw/taskbot/local/telegram-bot-api/.gitignore
  10/99_hw/taskbot/local/telegram-bot-api/.travis.yml
  10/99_hw/taskbot/local/telegram-bot-api/LICENSE.txt
  10/99_hw/taskbot/local/telegram-bot-api/README.md
  10/99_hw/taskbot/local/telegram-bot-api/bot.go
  10/99_hw/taskbot/local/telegram-bot-api/configs.go
  10/99_hw/taskbot/local/telegram-bot-api/go.mod
  10/99_hw/taskbot/local/telegram-bot-api/go.sum
  10/99_hw/taskbot/local/telegram-bot-api/helpers.go
  10/99_hw/taskbot/local/telegram-bot-api/log.go
  10/99_hw/taskbot/local/telegram-bot-api/passport.go
  10/99_hw/taskbot/local/telegram-bot-api/types.go
  10/99_hw/taskbot/readme.md
  10/99_hw/taskbot/taskbot.go
  10/99_hw/taskbot/taskbot_test.go
  9/99_hw/rwa/app_test.go
  9/99_hw/rwa/common.go
  9/99_hw/rwa/dummy.go
  9/99_hw/rwa/go.mod
  9/99_hw/rwa/go.sum
  9/99_hw/rwa/main.go
  9/99_hw/rwa/readme.md
  9/99_hw/rwa/realworld.go
  9/99_hw/rwa/swagger/swagger.json
Due: none

Initial structure
  5/99_hw/redditclone/cmd/redditclone/main.go
  5/99_hw/redditclone/go.mod
  5/99_hw/redditclone/go.sum
  5/99_hw/redditclone/internal/handlers/user.go
  5/99_hw/redditclone/internal/init.go
  5/99_hw/redditclone/internal/models/comment.go
  5/99_hw/redditclone/internal/models/post.go
  5/99_hw/redditclone/internal/models/user.go
  5/99_hw/redditclone/internal/models/vote.go
  5/99_hw/redditclone/internal/repositories/posts_repository.go
  5/99_hw/redditclone/internal/repositories/users_repository.go
Due: none

Refactor the structure of the app
  5/99_hw/redditclone/cmd/redditclone/main.go
  5/99_hw/redditclone/internal/models/post.go
  5/99_hw/redditclone/internal/repositories/posts_repository.go
  5/99_hw/redditclone/internal/repositories/users_repository.go
  5/99_hw/redditclone/pkg/domain/comment/model.go
  5/99_hw/redditclone/pkg/domain/post/handler.go
  5/99_hw/redditclone/pkg/domain/post/model.go
  5/99_hw/redditclone/pkg/domain/post/repository.go
  5/99_hw/redditclone/pkg/domain/user/handler.go
  5/99_hw/redditclone/pkg/domain/user/model.go
  5/99_hw/redditclone/pkg/domain/user/repository.go
  5/99_hw/redditclone/pkg/domain/vote/model.go
  5/99_hw/redditclone/pkg/init.go
Due: none
